<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.7/engine/Shopware/Components/Plugin/schema/menu.xsd"
>
    <entries>
        <entry>
            <name>SwagLightweightModule</name>
            <label lang="en">SwagLightweightModule</label>
            <label lang="de">SwagLightweightModule</label>
            <controller>ExampleModulePlainHtml</controller>
            <action>index</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">Marketing</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("ExampleModulePlainHtml", { "title": "Lightweight Backend Module" })</onclick>
        </entry>
    </entries>
</menu>
